 <app-header></app-header>
 <app-footer></app-footer>
<!-- <h1>App</h1>
<button class="btn btn-primary"> submit</button>  -->
<!-- <app-user></app-user>
<h1>{{name}}</h1>

<!-- <app-event></app-event> -->
<!-- <app-two-way></app-two-way>  -->
<!-- <app-parent></app-parent> -->
<!-- <div class="containter">
<app-students></app-students>
</div> -->
<!-- <StudentListComponent></StudentListComponent> -->
<!-- <h2>{{title}}</h2> -->
<div class="container">
    <!-- <app-student></app-student> -->
    <router-outlet></router-outlet>
        <!-- gives what path u want to display  -->
</div>
<!-- <app-life-cycle></app-life-cycle> -->